body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.titre_principal{
    color:rgb(232, 168, 5);
}

.header{
    background-color: blanchedalmond;
}

.ribbon{
    background-color:rgb(232, 168, 5);
    padding: .5rem .3rem;
}

.logo{
    width: 300px;
}

.concert{
    width: 300px;
}
