body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: blanchedalmond;
}

.titre_principal{
    color:rgb(232, 168, 5);
}

.ribbon{
    background-color:rgb(232, 168, 5);
    padding: .5rem .3rem;
}

.logo{
    width: 300px;
    padding: .5rem .3rem;
    
}

.concert{
    width: 300px;
}

a {
    color: white; /* Set the default text color */
    text-decoration: none; /* Remove the default underline */
  }
  
  /* Hover styles for the link */
  a:hover {
    text-decoration: underline; /* Add underline on hover */
    color:darkblue; /* Change text color on hover */
  }

  p{
    margin: 5%;
  }

  hr{
    border-color:rgb(232, 168, 5);
    
  }

  .social_media img {
    width: 30px; /* Adjust the width according to your icon size */
    height: auto; /* Maintain aspect ratio */
}

.social_media a {
    display: inline-block;
    margin: 0 10px;
}

.social_media a:hover {
    filter: brightness(1.2); /* Increase brightness on hover */
}

ul {
    text-align: center; /* Center-align the list items */
    display: inline-block; /* Display list items as inline-block */
}
  
li {   
    text-align: left; /* Reset text alignment inside list items */
}

img{
    max-width: 100%;
    height: auto;
}